.textBox  {
    position: absolute;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
}
 #meme  {
  display: flex;
  justify-content: center;
} 
.topText{
    top: 35%;
}

.bottomText {
    top: 83%;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    padding: 10px;
}
.center{
    text-align: center;
    
}